/* ===== Footer ===== */

footer {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.8);
    padding: 5px 0;
}

.footer .float-left {
    margin-top: 8px;
    margin-left: 15px;
    text-transform: none;
}