.staffs-box {
    padding: 20px;
}

h2{
    margin: auto;
    text-align: center;
}

.staff-image {
    display: block;
    background: url(/assets/images/staffs/13.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin: auto;
    height: 240px;
    width: 240px;
    /* max-height: 240px;
    min-height: 240px;
    max-width: 240px;
    min-width: 240px; */
    border: 5px solid #00B9F5;
    border-radius: 50%;
}

.staff-profile {
    text-align: center;
    margin: 20px;
    padding: 15px;
    border-bottom: 20px solid #00B9F5;
}

.staff-image,
.staff-name {
    padding: 5px;
}

.fa-staff-icon {
    padding-right: 5px;
}